@model SkyHigh.Models.Reservations.FlightSearchViewModel

<form asp-action="Index">
    <input type="hidden" id="modelState" name="modelState" value="@ViewData.ModelState.IsValid.ToString()" />
    <div class="form-row">
        <div class="form-group col-md-5">
            <label asp-for="SourceAirportId" class="control-label"></label>
            <select class="custom-select" asp-for="SourceAirportId" asp-items="@Model.Airports" id="sourceAirport">
                <option value="" selected="">Please select...</option>
            </select>
            <span asp-validation-for="SourceAirportId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-1 d-flex flex-column">
            <button type="button" class="btn btn-outline-info mt-auto" onclick="swapAirports()">sw</button>
        </div>
        <div class="form-group col-md-5">
            <label asp-for="DestinationAirportId" class="control-label"></label>
            <select class="custom-select" asp-for="DestinationAirportId" asp-items="@Model.Airports" id="destinationAirport">
                <option value="" selected="">Please select...</option>
            </select>
            <span asp-validation-for="DestinationAirportId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="form-check">
                <input asp-for="OneWay" type="checkbox" class="form-check-input" onchange="showHide()" />
                <label asp-for="OneWay" class="form-check-label"></label>
            </div>
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-2">
            <label asp-for="DepartureDate"></label>
            <input asp-for="DepartureDate" type="date" class="form-control" />
        </div>
        <div class="form-group col-md-2" id="retrunDate">
            <label asp-for="ReturnDate"></label>
            <input asp-for="ReturnDate" type="date" class="form-control" />
        </div>

        <div class="form-group col-md-2 d-flex flex-column">

        </div>

        <div class="form-group col-md-3">
            <label asp-for="TravelClass"></label>
            <select class="custom-select" asp-for="TravelClass" asp-items="@Model.TravelClasses">
                <option value="" selected="">Please select...</option>
            </select>
        </div>
        <div class="form-group col-md-2 d-flex flex-column">
            <button type="submit" class="btn btn-primary mt-auto">Search</button>
        </div>

    </div>

    @*<input type="text" name="birthday" value="10/24/1984" id="picker" />*@

</form>


