@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="text-center">
    <a asp-action="Index" asp-controller="Cities">Cities</a> |
    <a asp-action="Index" asp-controller="Countries">Countries</a> |
    <a asp-action="Index" asp-controller="Aircrafts">Aircrafts</a> |
    <a asp-action="Index" asp-controller="Airports">Airports</a> |
    <a asp-action="Index" asp-controller="Flights">Flights</a> |
    <a asp-action="Index" asp-controller="Reservations">Reservations</a> |
</div>

<hr />

